.elem1 {
font-size: 12em;
text-align: center;
}
    

.banderole {
    background-color: #004a99; /* Bleu sombre */
    color: #fff; /* Texte blanc */
    padding: 1rem 0; /* Espacement vertical */
    text-align: center; /* Centrer le texte */
    font-size: 1.8rem; /* Taille du texte */
    font-weight: bold; /* Mettre en gras */
    box-shadow: 0 2px 4px rgba(78, 78, 78, 0.1); /* Ombre légère sous la banderole */
  }
  
